[report]
fail_under = 9

[run]
omit =
    ./dags/*dag*.py
    ./dags/*__init__.py
    ./ohub/*__init__.py
    ./dags/config.py
    ./dags/config.py
    ./ohub/vendor/
    ./dags/operators_config.py

include =
    ./ohub/*.py
