*.coverage.*
*.coverage
.idea/
build/
dist/
*.egg
*.egg-info
spark-warehouse/
*.so
hive/
metastore_db/
.cache/v/
hsperfdata_root/
root/
*.log
__pycache__/
.cache
.pytest_cache
string_matching_package/string_matching/sparse_dot_topn.cpp
*.pyc
.idea/
__pycache__/
.cache/
.pytest_cache/
.coverage
*.log

# Setuptools
build/
dist/
*.egg-info/
